@{
    ViewBag.Title = "Thanks";
}

<div class="container">

    <div style="text-align:right"><a href="http://twitter.com/carolinahacks"><img src="@Url.Content("~/Content/images/twitter-bird-dark-bgs.png")" style="height:35px;width:35px;" /></a></div>

    <div class="hero-unit hero-alpha-fix">
        <div class="row">
            <div class="span6">
                <h1>Thanks!</h1>
                <p>we'll be talking to you soon</p>
            </div>

            <div class="span4">
                <div>
                    <p>Thanks for letting us know you'd like more info about CarolinaHacks.  As soon as we have info on the hows and whys we will be sure to send you an update.</p>
                    <p>In the mean time you'll just get a quick confirmation email from us just as a reminder.</p>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container">

    <footer>
        <p>© CarolinaHacks 2012 | Photo © <a href="http://www.flickr.com/people/cwaldron/" tabindex="-1">Collin Waldron</a></p>
    </footer>

</div> <!-- /container -->

